<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>137.11.0.108132</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {559, 783}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2009-02-11 17:23:41 +1100</string>
	<key>Creator</key>
	<string>Graham Dennis</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{236, 372.5}, {60, 17}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>216</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{101, 359.5}, {55, 20}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>215</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{60.5, 468}, {32, 28}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>214</integer>
			<key>ImageID</key>
			<integer>6</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{61.5, 274}, {30, 28}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>213</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{236, 558}, {60, 17}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>6</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{101, 545}, {55, 20}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{90, 207}, {388, 374}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>4</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>7</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict>
			<key>ApplicationURL</key>
			<string>http://ktd.club.fr/programmation/latexit.php</string>
			<key>appData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKvECELDBIqKyw0NTpFRkdIUFNZW2Fja2xucXuAg4eLjpKT
			l5pVJG51bGzSDQ4PEFYkY2xhc3NaTlMub2JqZWN0c4AOoRGAAtwN
			ExQVFhcYGRobHB0eHyAhIiMkJSYlKClXdmVyc2lvbllwb2ludFNp
			emVac291cmNlVGV4dFhwcmVhbWJsZVRtb2RlV3BkZkRhdGFVdGl0
			bGVYYmFzZWxpbmVfEA9iYWNrZ3JvdW5kQ29sb3JUZGF0ZVVjb2xv
			coAggAMjQDgAAAAAAACAHIAFEAKABIAAI0AAAAAAAAAAgACAHoAX
			VjEuMTYuME8RK30lUERGLTEuMwolxOXy5eun86DQxMYKNCAwIG9i
			ago8PCAvTGVuZ3RoIDUgMCBSIC9GaWx0ZXIgL0ZsYXRlRGVjb2Rl
			ID4+CnN0cmVhbQp4AS1OMQrDMBDb+wqNyZCL7xyfc2tLuwcMXTLV
			tEMhhdT/hzqmaJAEEtKOBTuYzDwYMkMCvk/c8cF4KYxc4BpKrjmh
			qZmDBx8iiXoMHKIjNj3lDecEI1PRlvtLnmaKLNCj4QPShvHG5Opi
			eqFbu8fa90hvXFO9s/wAP4AfvgplbmRzdHJlYW0KZW5kb2JqCjUg
			MCBvYmoKMTI1CmVuZG9iagoyIDAgb2JqCjw8IC9UeXBlIC9QYWdl
			IC9QYXJlbnQgMyAwIFIgL1Jlc291cmNlcyA2IDAgUiAvQ29udGVu
			dHMgNCAwIFIgL01lZGlhQm94IFswIDAgMzIgMjhdCj4+CmVuZG9i
			ago2IDAgb2JqCjw8IC9Qcm9jU2V0IFsgL1BERiAvVGV4dCBdIC9D
			b2xvclNwYWNlIDw8IC9DczEgNyAwIFIgPj4gL0ZvbnQgPDwgL0Yx
			LjAgOCAwIFIKPj4gPj4KZW5kb2JqCjkgMCBvYmoKPDwgL0xlbmd0
			aCAxMCAwIFIgL04gMyAvQWx0ZXJuYXRlIC9EZXZpY2VSR0IgL0Zp
			bHRlciAvRmxhdGVEZWNvZGUgPj4Kc3RyZWFtCngBhZRNSBRhGMf/
			s40EsQbRlwjF0MEkVCYLUgLT9StTtmXVTAlinX13nRxnp5ndLUUi
			hOiYdYwuVkSHiE7hoUOnOkQEmXWJoKNFEAVeIrb/O5O7Y1S+MDO/
			eZ7/+3y9wwBVj1KOY0U0YMrOu8nemHZ6dEzb/BpVqEYUXCnDczoS
			iQGfqZXP9Wv1LRRpWWqUsdb7NnyrdpkQUDQqd2QDPix5PODjki/k
			nTw1ZyQbE6k02SE3uEPJTvIt8tZsiMdDnBaeAVS1U5MzHJdxIjvI
			LUUjK2M+IOt22rTJ76U97RlT1LDfyDc5C9q48v1A2x5g04uKbcwD
			HtwDdtdVbPU1wM4RYPFQxfY96c9H2fXKyxxq9sMp0Rhr+lAqfa8D
			Nt8Afl4vlX7cLpV+3mEO1vHUMgpu0deyMOUlENQb7Gb85Br9i4Oe
			fFULsMA5jmwB+q8ANz8C+x8C2x8DiWpgqBWRy2w3uPLiIucCdOac
			adfMTuS1Zl0/onXwaIXWZxtNDVrKsjTf5Wmu8IRbFOkmTFkFztlf
			23iPCnt4kE/2F7kkvO7frMylU12cJZrY1qe06OomN5DvZ8yePnI9
			r/cZt2c4YOWAme8bCjhyyrbiPBepidTY4/GTZMZXVCcfk/OQPOcV
			B2VM334udSJBrqU9OZnrl5pd3Ns+MzHEM5KsWDMTnfHf/MYtJGXe
			fdTcdSz/m2dtkWcYhQUBEzbvNjQk0YsYGuHARQ4ZekwqTFqlX9Bq
			wsPkX5UWEuVdFhW9WOGeFX/PeRS4W8Y/hVgccw3lCJr+Tv+iL+sL
			+l3983xtob7imXPPmsara18ZV2aW1ci4QY0yvqwpiG+w2g56LWRp
			neIV9OSV9Y3h6jL2fG3Zo8kc4mp8NdSlCGVqxDjjya5l90WyxTfh
			51vL9q/pUft89klNJdeyunhmKfp8NlwNa/+zq2DSsqvw5I2QLjxr
			oe5VD6p9aovaCk09prarbWoX346qA+Udw5yViQus22X1KfZgY5re
			yklXZovg38Ivhv+lXmEL1zQ0+Q9NuLmMaQnfEdw2cIeU/8NfswMN
			3gplbmRzdHJlYW0KZW5kb2JqCjEwIDAgb2JqCjc5MgplbmRvYmoK
			NyAwIG9iagpbIC9JQ0NCYXNlZCA5IDAgUiBdCmVuZG9iagozIDAg
			b2JqCjw8IC9UeXBlIC9QYWdlcyAvTWVkaWFCb3ggWzAgMCA2MTIg
			NzkyXSAvQ291bnQgMSAvS2lkcyBbIDIgMCBSIF0gPj4KZW5kb2Jq
			CjExIDAgb2JqCjw8IC9UeXBlIC9DYXRhbG9nIC9QYWdlcyAzIDAg
			UiA+PgplbmRvYmoKMTUgMCBvYmoKPDwgL0xlbmd0aCAxNiAwIFIg
			L0xlbmd0aDEgMTIgMCBSIC9MZW5ndGgyIDEzIDAgUiAvTGVuZ3Ro
			MyAxNCAwIFIgL0ZpbHRlcgovRmxhdGVEZWNvZGUgPj4Kc3RyZWFt
			CngB7XdVUFzRti3ujUOChcYdGreQxh2CEyzQQAMNTQNNQ3AnuAQP
			FhLcggWCO8GDNB40BAlBgoRggcvJOedWvXPrfd2f9/H2rtq117Q1
			xhyzVtXiYFF1Q6CMfN2hwgLCgiAZoIGBsrK5GZ+SjoEwCHhvASkC
			ODiUkFAICuaGUIagoDJAESFhYSGQNIADqOTm7ouEOTqhgOUiIJAo
			UMHdHQ69t7q6e6GgSH6gBsJOEAhB2ANhKE8gHGYHRXi6IT35gRA4
			HPg3zxOIhHpCkd5Qe0GAsDDQHmaHAtpCHWEIgNA/cGkgHNyA0v80
			23u5/9vlDUV63qMBcv/Fx3NfA2LvhoD7Au2hDveJXnC4LsQVCuT+
			S+J/uCGuMLjvvwL+hRSo42YPRSL+M9QU+pcbtyEC4m7o5Ib6Tz/M
			UxXmA7XXg6HsnIAOELgn9J8IjBH31eAwBFTPzRP2j74BQf/hMHKC
			2bkgoJ6e//JA73v0Hyzu6f8FKfR/KPKXoR4E9k/N/l333xoC71v4
			twX3yToQFBLmA7QA3Wt4L+Xf979/rf5jNxWEnZs9DOEIFBGXAEKQ
			SIjvfYLw/Uoc6C8MhN3z8QFCfe5ZCgki3FD3ewDvFQ4EOrghAf/Q
			RRgo5A5BQhFwqAPqH56/RpF/Gf85IP+2igKFbP+G/E+6iopuPkB/
			ARFxYeD9535/EEgaKC0hHfh/A2uIup8tCNL+v9HfAyOy80LeI0H9
			HaX7tgL+tXaA3U8mFOoDtQMszrnZyUY4Z+W8RtU+ePNpTPlZm3ZL
			vgSBO79PGJtjxUWy2csku0sRfHsil9klFrUYqlyNR1iF/qcv3Xjs
			d+eSZxLewDWf97IZX1CKe4ayh6+7ZMTualkDy8MKtk3tvcRpMyvj
			EQXy4pbGiieZ84U13JWpe/ge67OuXRi/R3K/X7/pXd+vBeDM/jo9
			0cryN3K1RWXSqwUeUvarsvWEtH95R4G09Sbv93QQmSqCPfH1yJXt
			l/slip9cLDCufWZc1Ut1Xtffyv7K94sEFodJKMSYl9ZJUEYCp6sv
			z5SBOemhpMURI9uxQFpP3M9C3D80MacZCIpKyNBiyWbR59nvBp2S
			toTc17dzpjwdCU0U9Bgm8BTECiDSqYNyWDws46Y2or04zSbKje5M
			5mNgRnz/kFqwY1FDcGuLGJK/3fN9qRhQ01pT6wB5cFA+uTwkLVK7
			snAaYglvCXk/6Aql0abYekUdRkX6KFrJNdn9cdXycZpxNIYillUd
			YW09+46+RBgOm9Y6lW6JWfszFdXzcvLKnVHybWX8XXCIijAr6tUy
			rTRXoC8zabgScxz/VbLLwvt9WnwAQzhWvUUoKVjBECqQAj2XLcCV
			OVGoNHhmTzZqfHGukFA5/fUqMnOaB3tSjEVZJG/DNL1jjLqcfjOV
			4AQ0ZVn34vDuuaXjVuPRctvIob9s102eLdN8JL26X7P0yXJNXmb4
			Z/6XkUzs2AVDRQXe2oojtyykOCXH9Jhgg29QJdJ1P9ns0edzjB7D
			oULHVqKuK6GiP79Ti37yHlBTPOHIsHxj9X4VmvCMUiZG0qHwqBN2
			jW2p3eBhNnfT35zM0o9Fw/bDO6rmmv6MwASM875iior5zU28PhlM
			OIlpFzFM3rP3J546L30yZ4Zi5mtz8F6Z7IkvkyDL5mhsh8Vmjtn+
			8Y5rHR/OQlz5jabywn6st13icXmU8S8qS2o+nJ8NtHLvcpDVKN15
			v9gYqsU5o30OjXJw97EtzswDONPOGoiawa6G6rj9i2QoE/gDaHoK
			lzwN2jj6wgFlyjPZF2NIk0ZgLVtEgtdpxU7ygmAomWT0/uQ0Ka4x
			ftI0bHVbn7vIn/Y4ht/hoQwWjRcTUBXJmCo6ody6CZKmqhzzc3M7
			Xbp8e7w7G/5U8mSv3zZzK+i1LHFNpi3kLRK/z/xlkro+uWqTXTlu
			fP+X0j+J3CXpbxK+UBD7VGiiKprvmry13vZFnA2u74iZx+z3pequ
			1WpiDy3xW8wFJhfggcLtdLjR7mOgg0vaPF51phAtolD7rpG88yQl
			tLlkgEQWO9N8I+0n+1Ktzshbyw2WEY1nHja1JubJgcINP+hBCE2y
			lV9J7qVi4VzXM1twCZR/UuWxaT3jwrTRV15BuZs55TBbfQK4rsSg
			I5x8fjTq6BiVKMitEynP3YK4+dFH2SrNTc/9WUz42sYX0GjNCDXv
			EjgxsYntjNnm1Bn0RTEcGAZNK0WacayN+z+oZpIARlhyrpalEs3r
			yb4pXGZjET6ubTPyX8eYNiBEC73gWRPvCvksZfvp7FOA9uQXAUbb
			+hL3UBYybrbD6/5RmBUHy8Cili8nHQ8RFitR06AYpjLNLxo+pfUR
			wSenkmkpZUUdGglLyaEl4xyY9IRI+bpLtq4LDFo9fcnkUHObyE8d
			rxqZGFhcj0vCD5pbO8g5k8ysZ+Iq9TzaphDK0FV7qQFCbIfWNwLO
			NfxPIalIewCR0kuzL7cb41CT6LYwaUqIPDUai+NmnGhPFkz2syN0
			+SaEQrnFR2LsdCR7coCmXU7SZ4nzhdos8RN8vzEMrYVMT9m3l994
			qyPYUrip6u90buYqeFQ0qbJIF2dFgBpXEgw8QccVjEPTni5Pc5Zp
			tej+fPEwY2fDNjrCUtUwLTSz9mmoVzhKCVOXdTr1O+uTGvk4Z45N
			iKV7V5zHRjchOkRk6dNWQzyPuygUUHtzaVM3E7Fq69nI7pvzYXCt
			OL+dt1LX91GJiCcf3wOicNGNNp2HHVfOeipEjXoTKSyuiUgeD4ml
			ErfwKOn06uL3L6r2lQi9E33UUpVA65lr9JrdXNSqt3zYy4Lhw4cf
			qsBQuc6UHKJukrtEvbmAU1zAAjLVhUrUP+0klY6OIhqTGq+v1Yej
			fUdK+uHzYqibfzNmOhgDLvuLWawyLBmvKj2QVbgvq/lzD+1bgm6B
			z7SPRGacv4HolbJY9xcbZH4YhPS9ilvhpIpOOcsr0F754d/wYU9I
			dYa1VQ+8+oJgEDBGcdYpvY2gj6WtY3ImWnuNuYKBWgtK8DtFW90p
			n8VZkjZ6fmi3b90jtXn1vJ/hudGNcjPDD1AHRhZAEN/tIAjDu6f4
			HJk1uTlBVSKzP+FQ6KVuvM8UEBjCRgV+T3NqjZk5hH6u/+OZRl3B
			bRm3pRrD4YeHQ2OAolXN3bMv0kp3V+o9Yeqib1wJ5qn0cD/gHskP
			lAGKFXvCyap+otU4t+Kmmvk13aS6zSLy37lcOmkJBcVfFnI8KYlT
			LgpC6peWVNjqdj1fxKs/0tF+95SrBYdlg75jBfP1WcgoHvDDV7JV
			2oHYJXBplcHTysFxc0WJ1yQGOnUfKzUk+iX0pZuXjVCj8YdvWQJL
			F5tav49fiet1ddFQBlAlkF95L1+FVwAnH7+/ynkn81w6h1HU6CcB
			9025omxSGd/KSUE+BhTNQ6Mfxj0ozEzlCpKffdhkUwsnF9ENhzBb
			ckwq6W1Yztq8YPDE9zAlmWZlmXANj08AXRu9cZp4R/L4i9qjOaqY
			0k6cgF6Qzw/mhTFiJ7/CA/YslW9jLkwOOzqB4qRkRDVWsXLOq72f
			LkHmTw92bNH186rF9SznPEDcS/FKVwZn7+1XfCRID42xfSv04KCk
			JzhKNJZClOhMi6r3oUNtmOXyTwk+i1cDxMYSBzt4sWkpLzEv2k7y
			vIS3bjgaMcOJr4hFN73S355PjpoSrtTVV9ph9hwnhW2oH5y8/Dz6
			WOT5YNLC1hwBJEmmDut1fZT/H2nFrzvuJtRYN5BWP/H6JcaKmQKt
			qNcesc2l9A0Niuy04PJrEUWf4Avdfd8+G/UZgLsAUVlLizaEQoeo
			KgOMzyjuSWS33yPu6rJaC9r/0XVCPx1YMJg+xDFnH5DTxejrc+zi
			rrmL3baaLvP101aLNBWX6iQJTjftq7hrpkcY5iqEntQIqtvc3jiX
			cj0i4vW3iN3tny9EvFI2adlvT7FWktPnPxDSTRhfXAxgL5pBGonn
			kTh0Sszn9hof8uLQXOLOr2GDMZfyPcmBeD+uyzNmAFBdeAO4N5OG
			WengVo3Guqn0eU1zNNoq+9PHuVVwcaMzs9H0955se7/+ERetzcO5
			oUWAgSVrpCvOtvngaA59S/hG5sM9DFW2LlJehvfQMBeHoOdZHRth
			Qkcfhc/Lei9SPfzUVEw7G8a0vqPEAwyF9cXmmMH+FlfWRIW8udL6
			rsWQjYKyc8uDGrV6wWTpk5tUWnHzOL9SggoLxh6qJrITfvpj0/i6
			FGZGl+CtJxXYuZcxeDFpLXvFZuUk3k8sozlfMQYtydmBx+zNlh2y
			h59LQEWDJoNbpogkK2WGx/c4vWJcC6Vcb39Srhxcnre1mBe80ti/
			lnP+yXb6iOaHgJ9mNpLIIdDOo0+i1xACGXjCHf1V68TJGK+aU676
			zoqP40Jsin3+cfXzSALvzTRtGchDm7xcwZEfGSVcwFbVB2ORZKEe
			ExFi38mqzwJ9STM9f0REO/aJr/riM5NNzcopud+1DQ8/lbUW93Fy
			j9+cHGdLzPCwu5rgPaT4XajJZWZB1L2q2e6/B1+E0Jwf7EsreuKl
			rzk3Si9yrvSaHG4tvlCLc0DdLlFd9+97sxy/pirFPAuW+CiidmI0
			c2sHJFYgHBfmJDUS/g2j6VWSoC4ZEsnV9yLjEJqqTXVOfS3U0rZ5
			1/OFU3GF4KtRCKiXU9PzRryEbGiFk8AigQO3sDyvAG9iMAnfmS7I
			9fGfS6EmTi+1T8S+Z2xtN8ouvUNVtVNyVGlXApde2BH0wfyr1e6q
			hz2L1OQA+o43djQn67hOuGKqNOSM7FG3oayGWQpRRw/PuV5NkIP7
			gEeKWTmfP3h6aAbzVs0YMoDwNxt5nyl9ejP/CBQMQacxR0kW6FNW
			ULroeboHHGdGJSyd5RFBC0fMuUkqd2RbjSRK9O64ZRP8SJ2zTeIj
			CldQjjNGV5HXen7pkgO9ixSK+HuNUkQqSvnYeaHhyd/EAhn4Ld9k
			3wSTkI1m6X+q899kl8hPwbowphkSfaSUaN7LI1XS72qRjdOmaEVj
			rMbrailB1by9Zz7jFaTojc7wMQ7uyVP+Tvypm/0m5Kx7GosmrHlG
			l+AzqMacGWztAybjEHvgaciFCiXhd1g2y8YdQbYaywUXaClkj9Gr
			3jHylkUY7Ict4BJ7lOYWKvI0JAW58ZexUN/lA2oSBVcoD8P2T+K8
			0EBob0dzVyOYZ1atn8aRKa2hKuN11dYZ1F9UtLx5qT7JxIsQ1BiX
			nk0XrgTIkU3Qn3mxrgDN7z99+aJsPSv5WbeiiGz4EEv53s0czw+i
			gWmbbwtRYz0Pd3El3DhZ0BdjuWzOoxTUDvBFT+EwI65Jknx/Q3rq
			SHOTcmB/50d7U9lDbZU7QpvSiaaOWTfe+W62j8oBy+cwCd0cO+Xv
			dMvKDPqrKFQgdfZrx4TuVQnc+LCUkW8knTeqST5LbH0T6q673V/N
			mumsISD5N+8phtJgJPpf2IIWl9Tt8qPeenuPUQRv8Z4H1xermSTJ
			lTceD+y1lnB+eGQxd7ROa/0TXRyKZKontI2OTCuBWKLpA4WuP1Bs
			BLHLjzchf5N/nHO0LYTnK5jxoEx1V+KSsKXkX6Yicoq0nafNhVj4
			k7beXSTrJrTbJkudjgkZZLt2S6Yn1G++HsmeTaBTDPnRsjOQpZB3
			Tga7Ft6WKzZpHBjdpz3KjXpHc1yDdN/NVhc3E1UDBIiGuLy1H8Vn
			Ubh+IRTC3Rci6G35pWHvBvODmMrW95UK01WEEtNyT8YMpVp+Ux8g
			kfNupZ6QpL+RCb2B5e82vV0r45u0WdSzt4HT4ShczWHTosVj2pbN
			5ESYLLjo8xSbZqHXCdA1UZ7eJIDWdkdvfU0h7PH/OO6jFpS/Fzj2
			pxxPcikeerUnGHih+MpZZdOvylStrZ6u+31MoMubVJB7rOXZYcYr
			+Bs2x3VpA4zAmhq/z7JVjliP1XEipFwnrKgjipSxWQqIDQRPXWS7
			Y36vWp/3FuCICreUU7qBl3tUMh5s9jF1F3z8Ts+4YXPs8qqY4LFd
			57etHbiRUGwVN04GhdAL/vpDvkYjNiutccH3pbtmsThyzucc7IPg
			21Rf5Kp4SbxqvlQg9waeDUJmoqzXSShgHkBaU1lKrqZYfP0W/fHB
			QUMPE+DB2uAEIKPvOk386v2+U+jp5rIWgO0QCcDkVKy9c7OYk7xU
			T33cNkeTWrWPzz/YMOSrP+nJ8LWlmvosUHSvmJ8CVTF7Wdlw44/j
			jUlHK+VN7/mTe8t/nXxHbTSNiC18l2Tmk6rM+4cBv/TLZhRe33wd
			SmEIpfbGEVN8PCvuJpK9tnb7MM9rkrV8rlWxqpD6+asgZXPTONJJ
			P1qyvKfcYLEeVmr18l+14W7NkylhX07QcTv5Lg5xCjgdV9o5lnPU
			LBFR2x34EhhgtW1XsBZ7ctFvtPIQtspmT/pLG8LaGPjkNHi1dqld
			uuWOYSjicIl2OAKx/we8aMNkMrCtIge7m6xZbniountUElNAppUG
			8fJTj5TlYN79WIS/lvPzSa1gZyHpF1yoTlObrMWyVE7lUAf7fFYu
			rprA7ueg6LqDZ9yjnhl3Zpc8VZfmSi/leVtMEmKjNjHIS/nWcWeV
			pDzGi+kelFFvmfhZXbQ6GbKceAPlCu3pvelubLeMyV5HCsKVWZkA
			WhZms6YcY81hywBbpsyZ08SGFRP89t7on8KAsHV3zpEgMtlUzv5Z
			8Koa3nCqFEbwgm499OSHhrz225yIk/5L4hHG5mP31cn+CwmNFhpz
			gZNNfaWNED86W/CToBdb29cM+809sM3ME2JphbHTauOTYMWLt+F+
			Ge2azFeBaI+fMIiqtNa17rbJAUZIukKa1XwTQi3A1kgzzq67CuyV
			u2/YjYebHUMxMHNkGP+Li9Mdu1Q8jx6VZ1Q6EjfWBXsgoUA1hWmb
			nCHO0ji5LFMr+S5ulki6WmGW/mPYyuq7Rf0cXwFO5kBp3oi+1KGT
			oRFaQE9C6uo1dT6buaPNmzI5nc3FhwzRJnL0ErfT3oCNU1UuxDAz
			XtOUSbkfXFbp5WAi36CNwdpm0I5eL1iWJXrPnq8hY8u8FTX5fZNI
			rlfHHrF1aSiSalq01GREe3zTE1Itryy1XC0tjf3gQ8HbpjXRIAC8
			04J8O8hNR+Sqh+nX6q6JtLbyRDX+usVy5Rhppq9djmdGdDBhjBex
			o1Qj3hzicI/g6fjGH65hC+INUVYP2AWS5iP4GsGv155kkTrXO36M
			QAhvhDi0SzOrvaQ8nxdjirHWeYwcvQmyHejOxw3pO6IQxxtfLPHB
			xlTSjNfxenIcQHDqmtd73vWQq11HNFVheKjQ4DWWp+AIWeCNCGhs
			bc9u0yLWWbSdPNw2/9R450ZW7AT3XQRs6PNl8Yn7okEO+cw311oz
			TLvf2kaiRyj6z+pR4Z9n7rRnmnUom7TbiX0PVM7csFKHoCaUB1ry
			8IyCoiSRcRpisQ9xG+cgSPTU8DGIPtZtAs5OmQ6Pdd1CtWxdOaf3
			nYGJvOByOYXH/nvsVzVrybGHeIlGq/QHeJXV17TRxX8i9Uh4SU/j
			VBe06c9b+J0eXLZkwEpTSCSyNDDSEdfJZXzgxICV2qeWGcW4dGvO
			eDPfJR8v60u+al5hZGbob4uq/IGG8YDRHnUT5GrhHUVkRjFXj+5+
			YkfIpVxtN90RUa8i9z1QnYcCROOabkSIzkqRRwkM9L4p+dHt6GhX
			cfMHBTO/xZMDAxwzznrRl5M9NDTdD7Is8wUc7RQbD3ccjv18fnLx
			d0fooY3a94bEsS2LzHotEjnK6NTpgMcd1dYRi0ZuvyMHV+y66z6/
			fbJIyYfBxQqb69x17kY9cIoI9IqPgO/3LKPPKiphh2yzz0ryd1Au
			TRraaSA+oXnTwx06JyG0R4H70R/J9f3umsDpTHgY053vpV9O6j7m
			yyl0LPWKzuaA7WJqipdrS5ADgmNcCllbRLNqTL+paUc5GcD1cAHj
			p77MB39tmMjLc/03NZuO/V8H7TOvpekk56mdPteOHsLlB2SzzyNL
			2Z3UsfdHrqfnbwHZKc9O5lCGx4DGyZ+Ym0FS4Rm5Opj75WE5t/EM
			vizonJupdYHlJUpd0qHHfpskzduu+c9MHyd631lnfOUd6572L7Qf
			qnDGVPIXRYez8ioRnXwr+eMOXz8z+bFahcZsW+Fiv8RjCkj+6m7z
			pY9tmDm2ZJCX/Usnnn6bES+t+gkb60komk+DTNb6T50ak9UYC3Ym
			0k+RUjwK6Letbw+u85rq9aM8Hv2U3YRjj11DQ4c6YJtcwRo/tMEy
			0Y0rtff7NmEc7nFm4Ps2UUSzRb2rMdT44luBq1qNTN5CwQV76jjC
			he3Zd8FdQy753iMkrhns9qG4SUlyhZ7uVmPub5CmtDDzS4vCtSuj
			NX2ZNsX5boIs0n1NwQsOpsHWsnRUqJ1StZk2aQ1+5LIJNUtv0Hdc
			U3IWWbMXhIb7vF64bQ04bkpCthrNxLmK7RjquJjuO64CF5u0c++d
			Hk8GotS/Ui3wmyNvA1gzEdIBDcnyGexKqcIaRzfHMcF4M4gHIHaG
			2cTB+nid649LPY05dtAn05S+9nGs26MqSumfVlvueNcJYjWZeKcU
			GjG1UoUGflRZMJpzDNOcfXUwWYmVcHhsxcmKJ3968/T55ltWA8OZ
			LQMXh3ap2rEM2AK6/SDTDC1ZbeV1gcWDl9RL8OiyeUGnizLp2SfR
			Mt3fZ/pdsPakEqBIvPhpm8xGh/qr0BdLZH+uJ6Lv705E77J54bkA
			0dqdXymREuUaWnJfzuq2KkYRtGZsmpzdsfK/g7fD7tiWM8KUwByc
			avk+NbdMj+DpepAPE1LqtmS4pEBrzHMKeRUV5b5My6qmQFMZKqKt
			UuWsChmePis6bzUt80fjC5jDc09kq0bDZYsUNIdpRThjTzGmHkle
			noFiOScRW/GvXX9/lsoOnBl1D+e5+PaNMkCNdczLE1evSPFDK6ti
			XzRhi5kUqyZVuzkTxgTqMZX+kpzc7Z9pJk+5vQrM2sR5Zd1PYp7a
			9SqVeW1M4h0H5o/wMhSeqoY4OHdFXYGt1dIR1ihtFR7bvTteQ85O
			pTr8PIdQuc1qFTfm/OfpnZMktQ2kEUIpbIRdO9yxcip+OmTu0fny
			O9TsVV+110gjN4aLCa2xOOaYM2qOExM//Rl5Odp/V1NqrvtHUA8Z
			ecXX9IzF6bKPbiHyV2Tn/FI5q3brQAGZvvh2B1Pjy+KgMPnd6Dra
			jn3IsVlu2ueq2QljvT+6Lpa/LjPG+kU8ouNe/OxTCuKLydrjnGXt
			e7gmt6nIOqc8YDOWwDr4+iVrMNuFy3djzrffUNBhyduC6QFuaAI3
			iodM/Zq86omT9LEiYXRKbuuVoWiOiAxl+2y9N0EqZtc3zmPllY9T
			bieZYfra94d5wsrbX8XvOiXZvINbFMUmIfvSsZ4uUVSYVWObsbNV
			NrlotvjnfWPCs8Cjnk1FEMIjNEDC9iOquyK21l+POLiJucAet+EL
			iDAn7mQe4tX9/mnK43dDyjZkG3EbdY0sA1nkXo08oP/lA/hf5oP+
			fwHQ/ws9sINDIUiUmysE6QL4L9HW7kMKZW5kc3RyZWFtCmVuZG9i
			agoxNiAwIG9iago3MTIwCmVuZG9iagoxMiAwIG9iago3NTYKZW5k
			b2JqCjEzIDAgb2JqCjY1MDkKZW5kb2JqCjE0IDAgb2JqCjUzMgpl
			bmRvYmoKMTcgMCBvYmoKPDwgL1R5cGUgL0ZvbnREZXNjcmlwdG9y
			IC9Bc2NlbnQgOTY5IC9DYXBIZWlnaHQgODYxIC9EZXNjZW50IC0y
			NTAgL0ZsYWdzIDMyCi9Gb250QkJveCBbLTI4MiAtMjgxIDEwNDAg
			MTAwMF0gL0ZvbnROYW1lIC9SUkREWlkrQ01SMTAgL0l0YWxpY0Fu
			Z2xlIDAgL1N0ZW1WCjY5IC9NYXhXaWR0aCAxMzIyIC9TdGVtSCAz
			MSAvWEhlaWdodCA2NDYgL0ZvbnRGaWxlIDE1IDAgUiA+PgplbmRv
			YmoKMTggMCBvYmoKWyAzODkgMzg5IDAgMCAwIDAgMCAwIDAgMCAw
			IDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAg
			MCAwIDAgMAowIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAw
			IDAgMCAwIDAgMCAwIDAgMCA1NTYgXQplbmRvYmoKOCAwIG9iago8
			PCAvVHlwZSAvRm9udCAvU3VidHlwZSAvVHlwZTEgL0Jhc2VGb250
			IC9SUkREWlkrQ01SMTAgL0ZvbnREZXNjcmlwdG9yIDE3IDAgUgov
			V2lkdGhzIDE4IDAgUiAvRmlyc3RDaGFyIDQwIC9MYXN0Q2hhciA5
			OCAvRW5jb2RpbmcgL01hY1JvbWFuRW5jb2RpbmcgPj4KZW5kb2Jq
			CjEgMCBvYmoKPDwgL0NyZWF0b3IgKExhVGVYaVQpIC9Qcm9kdWNl
			ciAoTWFjIE9TIFggMTAuNS42IFF1YXJ0eiBQREZDb250ZXh0KSAv
			Q3JlYXRpb25EYXRlCihEOjIwMDkwMjExMDY0NTU2WjAwJzAwJykg
			L01vZERhdGUgKEQ6MjAwOTAyMTEwNjQ1NTZaMDAnMDAnKSA+Pgpl
			bmRvYmoKb2JqCjw8Ci9FbmNvZGluZyAvTWFjUm9tYW5FbmNvZGlu
			ZwovUHJlYW1ibGUgKEVTYW5ub3BFU3NsYXNoZG9jdW1lbnRjbGFz
			c1sxMHB0XUVTbGVmdGJyYWNrYXJ0aWNsZUVTcmlnaHRicmFjawpF
			U3NsYXNodXNlcGFja2FnZUVTbGVmdGJyYWNrY29sb3JFU3JpZ2h0
			YnJhY2sgJXVzZWQgZm9yIGZvbnQgY29sb3IKRVNzbGFzaHVzZXBh
			Y2thZ2VFU2xlZnRicmFja2Ftc3N5bWJFU3JpZ2h0YnJhY2sgJW1h
			dGhzCkVTc2xhc2h1c2VwYWNrYWdlRVNsZWZ0YnJhY2thbXNtYXRo
			RVNyaWdodGJyYWNrICVtYXRocwpFU3NsYXNodXNlcGFja2FnZVt1
			dGY4XUVTbGVmdGJyYWNraW5wdXRlbmNFU3JpZ2h0YnJhY2sgJXVz
			ZWZ1bCB0byB0eXBlIGRpcmVjdGx5IGRpYWNyaXRpYyBjaGFyYWN0
			ZXJzCkVTYW5ub3BlbmQpCi9Fc2NhcGVkUHJlYW1ibGUgKEVTYW5u
			b2VwJTVDZG9jdW1lbnRjbGFzcyU1QjEwcHQlNUQlN0JhcnRpY2xl
			JTdEJTBBJTVDdXNlcGFja2FnZSU3QmNvbG9yJTdEJTIwJTI1dXNl
			ZCUyMGZvciUyMGZvbnQlMjBjb2xvciUwQSU1Q3VzZXBhY2thZ2Ul
			N0JhbXNzeW1iJTdEJTIwJTI1bWF0aHMlMEElNUN1c2VwYWNrYWdl
			JTdCYW1zbWF0aCU3RCUyMCUyNW1hdGhzJTBBJTVDdXNlcGFja2Fn
			ZSU1QnV0ZjglNUQlN0JpbnB1dGVuYyU3RCUyMCUyNXVzZWZ1bCUy
			MHRvJTIwdHlwZSUyMGRpcmVjdGx5JTIwZGlhY3JpdGljJTIwY2hh
			cmFjdGVycyUwQUVTYW5ub2VwZW5kKQovU3ViamVjdCAoRVNhbm5v
			dChiKUVTYW5ub3RlbmQpCi9Fc2NhcGVkU3ViamVjdCAoRVNhbm5v
			ZXMoYilFU2Fubm9lc2VuZCkKL1R5cGUgKEVFdHlwZTJFRXR5cGVl
			bmQpCi9Db2xvciAoRUVjb2wwLjAwMDAwMCAwLjAwMDAwMCAwLjAw
			MDAwMCAxLjAwMDAwMEVFY29sZW5kKQovQktDb2xvciAoRUVia2Mx
			LjAwMDAwMCAxLjAwMDAwMCAxLjAwMDAwMCAxLjAwMDAwMEVFYmtj
			ZW5kKQovVGl0bGUgKEVFdGl0bGVFRXRpdGxlZW5kKQovTWFnbmlm
			aWNhdGlvbiAoRUVtYWcyNC4wMDAwMDBFRW1hZ2VuZCkKL0Jhc2Vs
			aW5lIChFRWJhczEuMDAwMDAwRUViYXNlbmQpCj4+CmVuZG9iagp4
			cmVmCjAgMTkKMDAwMDAwMDAwMCA2NTUzNSBmIAowMDAwMDA5Mzg5
			IDAwMDAwIG4gCjAwMDAwMDAyNDAgMDAwMDAgbiAKMDAwMDAwMTM4
			OSAwMDAwMCBuIAowMDAwMDAwMDIyIDAwMDAwIG4gCjAwMDAwMDAy
			MjEgMDAwMDAgbiAKMDAwMDAwMDM0MiAwMDAwMCBuIAowMDAwMDAx
			MzU0IDAwMDAwIG4gCjAwMDAwMDkyMjMgMDAwMDAgbiAKMDAwMDAw
			MDQ0MCAwMDAwMCBuIAowMDAwMDAxMzM0IDAwMDAwIG4gCjAwMDAw
			MDE0NzIgMDAwMDAgbiAKMDAwMDAwODc4NyAwMDAwMCBuIAowMDAw
			MDA4ODA3IDAwMDAwIG4gCjAwMDAwMDg4MjggMDAwMDAgbiAKMDAw
			MDAwMTUyMiAwMDAwMCBuIAowMDAwMDA4NzY2IDAwMDAwIG4gCjAw
			MDAwMDg4NDggMDAwMDAgbiAKMDAwMDAwOTA3OSAwMDAwMCBuIAp0
			cmFpbGVyCjw8IC9TaXplIDE5IC9Sb290IDExIDAgUiAvSW5mbyAx
			IDAgUiAvSUQgWyA8MjYxMjdjNzRkNzc3MDk2YjM5NjdmNTYzYmE5
			NzZiNGI+CjwyNjEyN2M3NGQ3NzcwOTZiMzk2N2Y1NjNiYTk3NmI0
			Yj4gXSA+PgpzdGFydHhyZWYKMTA1OTYKJSVFT0bUDS0uLzAxMjNc
			TlNBdHRyaWJ1dGVzWE5TU3RyaW5nXxAPTlNBdHRyaWJ1dGVJbmZv
			gBuAB4AGgBlfEMhcZG9jdW1lbnRjbGFzc1sxMHB0XXthcnRpY2xl
			fQpcdXNlcGFja2FnZXtjb2xvcn0gJXVzZWQgZm9yIGZvbnQgY29s
			b3IKXHVzZXBhY2thZ2V7YW1zc3ltYn0gJW1hdGhzClx1c2VwYWNr
			YWdle2Ftc21hdGh9ICVtYXRocwpcdXNlcGFja2FnZVt1dGY4XXtp
			bnB1dGVuY30gJXVzZWZ1bCB0byB0eXBlIGRpcmVjdGx5IGRpYWNy
			aXRpYyBjaGFyYWN0ZXJzCtINDjY3gBiiODmACIAW0w07Djw9QVdO
			Uy5rZXlzgBWjPj9AgAmACoALo0JDRIAMgBCAEl8QEE5TUGFyYWdy
			YXBoU3R5bGVXTlNDb2xvclZOU0ZvbnTUSQ1KS0xNTk9aTlNUYWJT
			dG9wc18QFE5TRGVmYXVsdFRhYkludGVydmFsW05TQWxpZ25tZW50
			gA2ADyNAPAAAAAAAABAE0g0OD1KADqDSVFVWV1gkY2xhc3Nlc1ok
			Y2xhc3NuYW1loldYV05TQXJyYXlYTlNPYmplY3TSVFVaRaJFWNMN
			XF1eX2BcTlNDb2xvclNwYWNlVU5TUkdCgBEQAUwwLjUgMC41IDAu
			NQDSVFViRqJGWNQNZGVmZ2hpalZOU1NpemVWTlNOYW1lWE5TZkZs
			YWdzgBQjQCgAAAAAAACAExAQVk1vbmFjb9JUVW1HokdY0lRVb3Ci
			cFhcTlNEaWN0aW9uYXJ50w07Djxzd4AVoz4/QIAJgAqAC6NCKUSA
			DIAXgBLTDVx8Xn5/V05TV2hpdGWAERADQjAA0lRVgYKjgldYXk5T
			TXV0YWJsZUFycmF50g2EhYZXTlMuZGF0YYAaSR0AAQEnAIMBAdJU
			VYiJo4mKWF1OU011dGFibGVEYXRhVk5TRGF0YdJUVYyNoo1YXxAS
			TlNBdHRyaWJ1dGVkU3RyaW5n0w0tLjA5kYAbgBaAHVMoYinSDZSV
			lldOUy50aW1lgB8jQa6FV0hV+PTSVFWYmaKZWFZOU0RhdGXSVFWb
			nKKcWFtIaXN0b3J5SXRlbQAIABEAGgAfACkAMgA3ADoAPwBBAFMA
			dwB9AIIAiQCUAJYAmACaALMAuwDFANAA2QDeAOYA7AD1AQcBDAES
			ARQBFgEfASEBIwElAScBKQEyATQBNgE4AT8swCzJLNYs3yzxLPMs
			9Sz3LPktxC3JLcstzi3QLdIt2S3hLeMt5y3pLest7S3xLfMt9S33
			LgouEi4ZLiIuLS5ELlAuUi5ULl0uXy5kLmYuZy5sLnUugC6DLosu
			lC6ZLpwuoy6wLrYuuC66LscuzC7PLtgu3y7mLu8u8S76Lvwu/i8F
			LwovDS8SLxUvIi8pLysvLy8xLzMvNS85LzsvPS8/L0YvTi9QL1Iv
			VS9aL14vbS9yL3ovfC+GL4svjy+dL6QvqS+sL8EvyC/KL8wvzi/S
			L9cv3y/hL+ov7y/yL/kv/jABAAAAAAAAAgEAAAAAAAAAnQAAAAAA
			AAAAAAAAAAAAMA0=
			</data>
			<key>bundleId</key>
			<string>fr.club.ktd.LaTeXiT</string>
			<key>refresh</key>
			<real>0.0</real>
			<key>serverActionKey</key>
			<string>_Refresh</string>
			<key>serverAppName</key>
			<string>LaTeXiT</string>
			<key>serverName</key>
			<string>LaTeXiT</string>
			<key>version</key>
			<string>A</string>
		</dict>
		<dict>
			<key>ApplicationURL</key>
			<string>http://ktd.club.fr/programmation/latexit.php</string>
			<key>appData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKvECELDBIqKyw0NTpFRkdIUFNZW2Fja2xucXuAg4eLjpKT
			l5pVJG51bGzSDQ4PEFYkY2xhc3NaTlMub2JqZWN0c4AOoRGAAtwN
			ExQVFhcYGRobHB0eHyAhIiMkJSYlKClXdmVyc2lvbllwb2ludFNp
			emVac291cmNlVGV4dFhwcmVhbWJsZVRtb2RlV3BkZkRhdGFVdGl0
			bGVYYmFzZWxpbmVfEA9iYWNrZ3JvdW5kQ29sb3JUZGF0ZVVjb2xv
			coAggAMjQDgAAAAAAACAHIAFEAKABIAAI0AAAAAAAAAAgACAHoAX
			VjEuMTYuME8RK5glUERGLTEuMwolxOXy5eun86DQxMYKNCAwIG9i
			ago8PCAvTGVuZ3RoIDUgMCBSIC9GaWx0ZXIgL0ZsYXRlRGVjb2Rl
			ID4+CnN0cmVhbQp4AS1OuwrDMAzc+xU3JkMUS47lem1p94CgS5Zi
			2qGQQOr/h9qhaLg7uId2zNjBlJIHQxQS8H3hgQ3jtTBygTuu5OoT
			mg7RcPAhkqjHwCE64qSnvOJiSJS0FrXYn/J0psgCbQkfYCvGO5Or
			i/ZGt3TPpe9hH9ysvjP/AD5oH7sKZW5kc3RyZWFtCmVuZG9iago1
			IDAgb2JqCjEyNgplbmRvYmoKMiAwIG9iago8PCAvVHlwZSAvUGFn
			ZSAvUGFyZW50IDMgMCBSIC9SZXNvdXJjZXMgNiAwIFIgL0NvbnRl
			bnRzIDQgMCBSIC9NZWRpYUJveCBbMCAwIDMwIDI4XQo+PgplbmRv
			YmoKNiAwIG9iago8PCAvUHJvY1NldCBbIC9QREYgL1RleHQgXSAv
			Q29sb3JTcGFjZSA8PCAvQ3MxIDcgMCBSID4+IC9Gb250IDw8IC9G
			MS4wIDggMCBSCj4+ID4+CmVuZG9iago5IDAgb2JqCjw8IC9MZW5n
			dGggMTAgMCBSIC9OIDMgL0FsdGVybmF0ZSAvRGV2aWNlUkdCIC9G
			aWx0ZXIgL0ZsYXRlRGVjb2RlID4+CnN0cmVhbQp4AYWUTUgUYRjH
			/7ONBLEG0ZcIxdDBJFQmC1IC0/UrU7Zl1UwJYp19d50cZ6eZ3S1F
			IoTomHWMLlZEh4hO4aFDpzpEBJl1iaCjRRAFXiK2/zuTu2NUvjAz
			v3me//t8vcMAVY9SjmNFNGDKzrvJ3ph2enRM2/waVahGFFwpw3M6
			EokBn6mVz/Vr9S0UaVlqlLHW+zZ8q3aZEFA0KndkAz4seTzg45Iv
			5J08NWckGxOpNNkhN7hDyU7yLfLWbIjHQ5wWngFUtVOTMxyXcSI7
			yC1FIytjPiDrdtq0ye+lPe0ZU9Sw38g3OQvauPL9QNseYNOLim3M
			Ax7cA3bXVWz1NcDOEWDxUMX2PenPR9n1ysscavbDKdEYa/pQKn2v
			AzbfAH5eL5V+3C6Vft5hDtbx1DIKbtHXsjDlJRDUG+xm/OQa/YuD
			nnxVC7DAOY5sAfqvADc/AvsfAtsfA4lqYKgVkctsN7jy4iLnAnTm
			nGnXzE7ktWZdP6J18GiF1mcbTQ1ayrI03+VprvCEWxTpJkxZBc7Z
			X9t4jwp7eJBP9he5JLzu36zMpVNdnCWa2NantOjqJjeQ72fMnj5y
			Pa/3GbdnOGDlgJnvGwo4csq24jwXqYnU2OPxk2TGV1QnH5PzkDzn
			FQdlTN9+LnUiQa6lPTmZ65eaXdzbPjMxxDOSrFgzE53x3/zGLSRl
			3n3U3HUs/5tnbZFnGIUFARM27zY0JNGLGBrhwEUOGXpMKkxapV/Q
			asLD5F+VFhLlXRYVvVjhnhV/z3kUuFvGP4VYHHMN5Qia/k7/oi/r
			C/pd/fN8baG+4plzz5rGq2tfGVdmltXIuEGNMr6sKYhvsNoOei1k
			aZ3iFfTklfWN4eoy9nxt2aPJHOJqfDXUpQhlasQ448muZfdFssU3
			4edby/av6VH7fPZJTSXXsrp4Zin6fDZcDWv/s6tg0rKr8OSNkC48
			a6HuVQ+qfWqL2gpNPaa2q21qF9+OqgPlHcOclYkLrNtl9Sn2YGOa
			3spJV2aL4N/CL4b/pV5hC9c0NPkPTbi5jGkJ3xHcNnCHlP/DX7MD
			Dd4KZW5kc3RyZWFtCmVuZG9iagoxMCAwIG9iago3OTIKZW5kb2Jq
			CjcgMCBvYmoKWyAvSUNDQmFzZWQgOSAwIFIgXQplbmRvYmoKMyAw
			IG9iago8PCAvVHlwZSAvUGFnZXMgL01lZGlhQm94IFswIDAgNjEy
			IDc5Ml0gL0NvdW50IDEgL0tpZHMgWyAyIDAgUiBdID4+CmVuZG9i
			agoxMSAwIG9iago8PCAvVHlwZSAvQ2F0YWxvZyAvUGFnZXMgMyAw
			IFIgPj4KZW5kb2JqCjE1IDAgb2JqCjw8IC9MZW5ndGggMTYgMCBS
			IC9MZW5ndGgxIDEyIDAgUiAvTGVuZ3RoMiAxMyAwIFIgL0xlbmd0
			aDMgMTQgMCBSIC9GaWx0ZXIKL0ZsYXRlRGVjb2RlID4+CnN0cmVh
			bQp4Ae13ZVRU4do23UODUjJ0SAxd4tANgpSUMMAAA8MAMwPSjXRI
			S4nSJY10p4B0SiMhpYRICS/Hc8671nfe9f16/3w/vr3X2ms/d17X
			fd1rr7U5WFRcEGgDL1eoEL+QAEgaqKKjrKZo+lhR+7kQCHhvASkA
			ODgUkVAIGuaCUIKgodJAYUEhIUGQFIADqOji6oWE2TuggSXCIJAI
			UN7VFQ69tzq7uqOhSD6gOsJGAAhB2AJhaBQQDrOBIlAuSBQfEAKH
			A//moYBIKAqK9IDaCgCEhIC2MBs00BpqD0MABP+BSx1h5wKU+qfZ
			1t313y4PKBJ1jwbI/Rcfz30NiK0LAu4FtIXa3Se6w+E6EGcokPsv
			if/hhjjD4F7/CvgXUqC2iy0UifjPUGPoX27c+giIq76DC/o//TCU
			CswTaqsLQ9s4AO0gcBT0nwgMEffV4DAEVNcFBfvH3ICg/3AYOMBs
			nBBQFOpfHuj9jP6DxT39vyAF/w9F/jLUhcD+qdm/6/5bQ+D9CP+O
			4D5ZG4JGwjyBZqB7De+l/Hv/96vFf3RTRti42MIQ9kBhMXEgBImE
			eN0nCN2fxIA+QkDYPR9PINTznqWgAMIFfd8DeK+wH9DOBQn4hy5C
			QEFXCBKKgEPt0P/w/DUK/8v4zwX5t1UEKAj5G/I/6SoouHgCffiF
			xYSA94/7/iCQFFBKXMrv/wZWH32/WxCk7X+jvwdGZOOOvEeC/rtK
			92MF/OtsB7vfTCjUE2oDWJh1sZEJdUzPfIuuevCuf0TpRYtWU444
			gSufZzCbfelFgsnreJtLYXxbIqeZRRbVSKos9UdYeT6nr114bHdn
			E6Zj38E1XnazGV5QiqGC2EPWnFKjdjUtgSXBudvGtu5itGllMYhc
			OTFzQ4WTtLm8Su6ypD18t7UZ5w6M35+zvl+/6147qALgzPw6PdFM
			9zFwtkan0av6HVH2qrB1BbZ+/UCBtPYg70XZCU/kw556uWXJ9Mr+
			EsFPKOAf1TozLO+mOq/ubWZ/4/VVHIvDKAhiyEvrICAtjtPRk23M
			wBz/UMLsByPbMX9yV/TPPNw/NJGnqQiKMsjgQuFm/peZ78/bJawJ
			ua9vZ4152mIbKOgxjOCJiGVAmEMb5ZBYcOpNVWhrQbJVuAvdmfQn
			v9SY3kHVAPv82oDmJlEkXyvqY5EoUMNSQ/MQeXhYMr40KCVctTx/
			GmgObwr8OOAMpdGi2HpDHUxF+ihC0TnB9Un50nGyYQSGApZFNWFV
			DfuOnngwDpvmGpVOoUnrC2WV8xLysp1h8m0l/F1woLIQK/rNEq0U
			l58XM2mIInM031WC0/zHA1p8AEMIVo1ZEClYXh/Knwg9l8nFlT6R
			L3v+wpZs2PDiXD62bHLjKixtkgd7XJRFSTh73TilbYS6hH4zieAE
			NGFe/ero7qW5/Vb9j6WWz0c+Mh032dZMc2H0at6NUidLldlpIV/4
			XocxsWPnDubnemgpfL5lIcUpPKbHBD//BlUkXfOWyRh+OcvoNhQk
			eGwh4rwcJPLzO7VIv0efqsIJR6r5O4uPK9DYF5TSkRJ2eT/aYdfY
			5lq1biazN72NCSy9WDRs+x7hldf0ZwRGYJyPpRNUzO9uYvTIYELx
			TLuIIfKuvT8x1Nkp45nTFNMbjQF7xTInXkwCLJvDUW1mm5kmB8c7
			ztWPceajS240lOYPojxs4o5Lwg1/UZlTP8b5WUsr+yETWYHWmfOO
			iqRamDU44FAvAXceW+NMP4Az7ayCqBlsKqmOW79KBDGB60CTE7jk
			ydD64Vd2aGOe8Z5IfZpkAkuZfBK8dgt2klcEgwkkw/dfTqOCSsOn
			DUMWtzVZC3zJTyL57B5KY9G4MwFVkIxJImNKzZsgKaqyEW8Xl9PF
			y/fHuzMhzyRO9nqt07b838oQV6ZZQ94j8XtMX8er6ZGrNNiU4Mb0
			fi36E8ddmPIu9isFsWepBrq08a7BQ/N9T+jZwNqOqGnkQU+SzmqV
			BvbgIp/ZrF9CLh4oxEabe8p1BHR4SZvNq8YUqEkUZNvxOfs8XnHK
			VMJXPJ2daa6ett+2SLM97NZ8neWz+gs3qyoj0wQ/odp9ehBCg2z5
			V7xrkWgI1/X0Flwc7RNfdmxcwzg/abDBKyB7M6sUbK1HANcRH7CH
			k88Nh/84RscJcGuHyXE3IW72eyibpbjpub+ICl1beQHqLRmhph38
			J0ZWUe2R25zaA15ohkN9/0nFMBOO1VGfBxVM4sBQc86V4iSiOV2Z
			d3lLbCxCx1UtBj5rGJPPCacEX/GsinUEfpG07j/r99Ua/8rPaF1T
			6BrEQsbNdnTdOwyz4GDpW9D04qTjIcJiJWoYEMVUovlF81hx7bPA
			01OJ5MTi/Db12MWEoMJRDkx6QqRc9SVbxwUGra6eREKQqVVYf9ub
			eiYGFufjwpDDxuY2cs54E8vp6DJdt5YJhBJ0xVayjxDbrvkdv2Ml
			3zNIEtIWQKT42uTr7foo1CiiJViKEiJHPYXFcTNKtCcDJvvZFrR0
			E0ih1OQpPnL6OWO8j6ZVVsJzkfOV6gzxU3zvEQzN+TSUzPvLb7wV
			oWyJ3FQ1d9o3s6U8yhpU6aQLM8JA9StxBh7/41LGwUmU07PMJVpN
			uj9f3UzY2bANfmCpqBvnmVh61tbI/0gMVpNxOPU+65H8/GnWFJsQ
			S+euIJuNbkxkkMjcs6WSeA53QdC36ubSqno6dMUaVc/ulVk3sFqQ
			08pbpuP1qFAY9fjxA6IQkfUW7YdtV466ykT1umOJLM5xSB438cVC
			l5BwqZSKgo+vyg8UCT3iPFWTFEFraav0Gp1c1Cq3j7GXBEKGjurK
			wVDZ9sRMok6SuzjdWd9TXMA8MsmJSsQn+SSJjo4iApMar6fZk6N1
			R1Lq4csCqItPI2YKGAMu84tZtCw4Aa88xY9VqCe98UsX7XuCTv4v
			tI+Epx2/gegV01kPFmql958H9ryJXuakikg8y87VWt73qa3bE1SZ
			Zm3WBa+8IhgAjFCctUttI+ijaKuZHIlW32IuY6BX/WO9T6cs7pTO
			os1J61F1rbbNe6RWb172Mrw0uFFqZNgHtWGkAwTwXQ79MTy6Cs6R
			6eObY1SF0gdjdnnuaoYHTL5+gWxU4I80p5aYaYNTL/X2X6hX594W
			c5urMhzVPRwcAeSvaOyefZVSvLtS6wpWE3nnTDBHpYtbh/tDrq8Y
			UKDQFUJW/nNKlXMreqKRT8NFstMkNOeD06WDpqB/zGUex9PCaKV8
			f6ReUWGptU7HywW8mh/aWh+ecTXhsKzTty1jvj0LHMYD1m2QrdD2
			RS2Ci8qfPysbGDVVEH9L8ly7+lOZunivuJ5U45IBejjm6D2LX9FC
			Q/P30Ssx3Y4OGkpfqljyK4+lq5BS4PiTj1eZH6RfSmUyihj8JOC+
			KVGQiS9+vHySm4MBneKh0QvmHhBipnIGyc08bLCqgpML64RAmM05
			xhV1181nrF4xoPDdjEkmWVnGnENiYkHXBu8cxj6QPPmq+miWKrKo
			Hce3G+S5zzw/QuzgnXfInq78bcSJyW5H20+MlIyo0iJK1nGlu/8S
			ZPrscMd6qmZOpaCG5ZwHiHspVubM4Oix/eYxCdJNfeTAYmpgQAIF
			DheJohAhOtOk6n5oVxVsvvRT/LHZmz5iQ/HDHbyo5MTXmBctJ9nu
			Qls3HPWYIcRXxCKb7invz8eHjQmXq2vKbDC7juOD19UOT15/GX4i
			/HIgfn5rlgASL12N9bYm3OePlMLGjqsRNdYNpNlbrGaRsXQ6VzP8
			rVtUYxF9ba0COy245FpYwTPgQufAq8dKbRrgyk9U3NSkBaHQJipP
			BeMziqGIbA66xJydVqpAB/sdJ/STfrkDKYMcs7a+mR2MXp7HTq4a
			u9gtKynSG/1bTVJUXCrjJDidtG+ir5keYZgqE6KoEVS3Wd3RTiW6
			RMRr7xG72z9fCbsnbtKy355iLSekzNUR0o0ZXlz0YS+YQOqJ55A4
			dIrM57bqddnRU1xijm9hA5GXcl0Jfnj71yWp0wCoDrwW3J1Gw6x4
			eKtKY9lQ9LKyMWLKIqP/0+wKuKDekdlg8ntXhq1372cnzc2j2cEF
			wHNz1jBnnG3TgeFM+qaQ9bSHexgqbB2kvAwfocFOdv4v09vWgwV/
			fBI6L+6+SHLzVlU2bq8d0fyOFvPVF9ITnWUG+5hdWRLl8WZJ6TkX
			QNZzi8/NDytVawQSpE5ukmjFTKO9iwhKzRi7qBrITvjoj41jqhOZ
			GZ0Ctp6WYmddRuJFJjftFZiUkHg8NY/gfMPovyhrAx6xNVmyyxh6
			KQ4V8R8PaJogkiiTHhrd43SPdM6TdL79Sbl8eHne0mSa+0b94FrW
			8Sfb6SOafX5vjQwkkZ2fjVuPeLc+BNL3lDtiQ/PEwRCvglO24s7i
			MceF6AT73JOKl2EEHpvJWtKQh1bZWQKf91MLuYDNKg9GwsiC3MZC
			Rb+TVZz5eZGmofZDI+x7xFa88JnJJmZkFV3vWoaGnslYink6uMZs
			jo+yxaW62VyN8R5R/M7T4DIxI+pc0Wj12YMvQGjODw+kFFB4KauO
			9VILnMvdRkdbC69Uo+3Qt4tU170HHizHb6mKMM8CxD8Jq54YTN/a
			AInlCUeFOEkNhH7DaLoVxakLB4Wz9NzJOAQnqpIck94KNrVs3nV9
			5VRYJtgwCAR1c2qgbsQKyQaXOQnMYjlw80qyc/HGBuLxHen8nZ/8
			uRRs4HRX7Sf2OmNruVFy6h4sr5qQpUq+4r90xw6lD+BbqXBVOepa
			oCYH0Le9s6E5WcN1wBVVoSFnZA+/DWLVT5cP//HwnOvNGDm4B/hD
			IT3zSx3KTSOAt3xanwGEv1nP+0Kx/93cI1AAZCqZOVwiV4+ylNJJ
			F+Xqe5wWHrt4lk0Ezftsyk1StiPTbCBeqHvHLRPrTeqYYRQTmreM
			tp82uAq71vVOkejrXqBQwN+rlyRSVszBzg4KSfgm6sfAZ/4u4yaA
			hGw4Xa+/2meTXTwnEevCkGZQ5JFinGk3j2Rhr7NZBk6LggWNoSqv
			s7k4VeP2num0u7+Cx1Sqp2FAV7bSd+L+TvabwLPOSSya4MZpHYIv
			oEpTZrClJ5iMQ/QBSp8LHUTCZ7dkkoH7GdlsKBuQqymfMUKvcsfI
			Wxz6/CB4HpfYrSgrT4GnNt7fha+YhfouB1AZJ7BMeRR8cBLtPgWE
			drc1dtSDeWZUe2nsmZJry1Pflm+dQX1EREoaF2vijdwJQfXRKRl0
			IYqATJlYvelXa/LQnN7T16+K19ITXnQqCMuEDLKU7N3M8uwT9U1a
			fZsPH+l6uIsr7sLJMnUxksXmOExBbQdfQAkFG3CNk+T46NNTh5ka
			lQB72z/ZGsscaSnfEVoVjTW0zbjwznWyfVLyXTqHietk2ih9p1tS
			YtBbQaP9qDPe2sd2rojjxgQnfv5G0n6jEu+5yNYzpua827lh0khn
			CQHJvftIMZgMI9H7yua/sKhmkxP+3sNjhCJgi/c8oKZA1ShetqT+
			uG+vuZCz7pHZ7I81WsufUwVBSKYaQuuIsORCiPkUvZ/gdR3Fuj+7
			3GgD8jf5p1l76zx4jrwJD9pYZzk6HltS7nUSIjNfy3HSVJCFL37r
			w0WCTmyrdYLk6Yjg8wznTomU2JrNt58zZmLpFAL3m3b60uWzz8lg
			10LbsgVG9X3DB7Q/ssI/0BxXIl13M9TETERUAb4igU7vbYfxWeSv
			XwkGcvcECniYf63du8GsE1Xe+r5caryCUGRa6kqdplTNaegBxHHe
			LdcQkvTWM02tY/m4TG5XSXvFb+Z37a3jtNkLVXBYNWnyGLdkMDkQ
			JggseD7DppnvdgB0jJWkNPBPablObW0kEnb5fBr1VPXP2fMb+VOC
			J7EYA73aE/C7UHjjqLzpXW6s2lJD1/kx0s/pXRLINcr87Cj1Dfwd
			m/2a1HMMv8pK7y8y5fZYT9RwQiWdxyyoQ/OVsFlyiZ8LnDrJdEb+
			XrE8787FERFqKqF0AS91Kac+2Oxh6sz99J2ecd3q2OlNAcETm/Zv
			WztwA8Gocm6cVArBV3w1R4/rDdgsNEcFPhbtmkThyDqec7APgG+T
			vJArYoUxKjmSftzreFYI6bHibgdB3zkAaWVZEbmqQsH1+6lPDw5r
			u5gAD1YHxgCpPdfJYlcfDxyCTjeXNAFsR0gAJqdC1Z2L2azEpVrS
			k5ZZmqTyA3y+gdpBL71xFMNGUwX1mZ/IXgEfBbp05rKs9sYHxwOT
			jlbSgx71k3vLZ418R3U4mYgtZJdkul9F+uND3196xdPyb282BhMZ
			gqg9cEQVnsyIuQhnrK7ePsx2H2ctmW1WKM+jfvnGX8nUOJp03JuW
			LPsZN1i0i5VareRXVYhL43hi8NeTqeidHCe7aHmctiutTPNZapbQ
			8O02fHEMsOq2M1iTPSH/95TSILbyZlfKayvCqkj4+CR4pWqxVarp
			jmEw9GiRdigUcfAHvGDFZNS3rSwLuxuvXKp9qLL7ozAyl0wzGeLu
			rRYmw8G8+ykffzXz59MqgfY80q+4UO2GFhmzJcnMssE29rn0LFxV
			/t0v/hHVhy+4h1GpdyaXPOWXpoqv5XibjGKjwjcxyIser+HOKEq6
			jRbQPSim3jLytrhodtBnOfEAyubZ0nvQ3VhvGZK9DROAK7EyATTN
			TGaMOUYag5cA1kxp06dxtctG+K3dET+FAMFrrpyf/clkkjh7Z8Ar
			qnhDSZIYAfM6NdCTfXU5rfeZoSe9l8SfGRuPXVfGey/E1ZtoTPlP
			NvUU1wO96azBT/1fbW1fMxw0dsE2006IpeRHTisMTwIULt6HeKe2
			ajBf+U25/YRBVKQ0r3W2jQ4xAlPkky3mGhCqvtYGGtE2neVg96wD
			/U483IxIir7pH/oxv7g4XbGLxLLp0dkGRZ+jRzpgD8TlqSYwrRNS
			xVjqx5ekqyQ+RM8QSVXIz9B/Cl5e+bCgl+nFz8nsJ8Ub2pM0eDL4
			mRbQFZu0ck2dw2Zqb/WuWFZ7c+EhQ4SRLL347aQHYP1UhQsxxIzX
			MGFU4g2XUXw9EPd4wOr56qb/jm43WIYlYs/2cW3qlmkzevz7JpFs
			t7YtYutSXzjJOH+xwYD2+KYrsEJOSXKpQkoK+0Fd7vuGVRF/ALzd
			jHzb30Vb+KqL6dfKrpGUltJYBf6a2VLZCGmal00mKjUigDDSndhe
			sh5vFnG0R/BsdP0P15AZ8boIqxvsAknzCXyN4NNtjTdLmu0ePUYg
			hNYD7VqlmFVfU57PiTJFWmo/QQ7f+Fv3debgBvb8oBDDG10o9MTG
			VNSI0XZ/euxLcOqc3X3e8ZCrVVskSX5oMO/5WyyUwGcyvxth0Mjq
			ns2mWZSjSCt5iHXOqeHOjYzoCe6HUNjgl8uCE9eF55nk09+cq0ww
			bX5rGYj8QNN/UQsP+TJ9pzXdqE3ZoNVK7HWofOaClTQINaI81JSD
			p+bmxwuP0hCL1kWvn4MgERNDxyD6KJcxODtlCjzKeQvdtHXlmNJz
			BiZyh8tm5h377LFfVa4mRB3hxRms0B/ilVVc00YU/AnTJeElPY1W
			mdeiP2/ic3hw2ZQKK0okEU9Xx0hBXCcUPwbH+S5XPTNPLcClW3XE
			m/4u8WRJT+JN4zIjM0NvS3jZ/hSMBzzlVj1GrhrSlk9mEHn16O4n
			dqhs4tV2wx0R9QrywA3dfsRPNKrhQoRoLxN+FMtA75WYE9E6FeEs
			Zvogd/q3WIKfr33qWffU5XgXDU3ng3TzHH57G4X6ox27Y2/Pn1x8
			naG6Uwate4Ni2Ob5Jt1mcRzFdGp0wOO2CsvQBQOX32EDyzad1V/e
			P12gfIzBxQqbbd917EQ/cAj1c48JhR90LU2dlZbBjthmXhTm7KCd
			GtS1kkGPBeeMj3boHASn3HJdf/yRWDvorPSbTIMHM915XXpnJh1g
			vp6YiqJe1t7ss15ISnR3bvK3Q3CMSiKr8mlWDOk3NWwox325Hs5j
			/NSTrvPRggm/Ptd7V7lp37sxYJt2LUUnMUft8KVq+Agu1yeTcR5W
			xO6ghn3w+Xpy7haQkfjiZBatfwyoH/+JuekvGZKapY15UBKceRvD
			4MUylXkzsca/tEipQzr4xHuTpHHbOeeF8ZM4jzvL1A3ekc5Jnzzb
			wVJHTEUfkakQVl5FopNvhX9c4WtnRvsr5VOYLctc7Jd4TL4JG65W
			X3vYhpijCgd42b+24+m1GPDSqp2wsZ4ETT1WJ5Ox/FOtymQxwoKd
			hvRWoBQLB3pv69mCq90nur0pj4f7MxpwbLEraejQh2zjy1ijR1ZY
			RjrRRbbe38YMQ9zOnnu9jxPWaFLrqA8yvPiW66xaKZ09n3vBnjSK
			cGJ78V1gV59LrvsHEtcEdvtQzKgwoVRXZ6s+6zdIQ0qI+bVZ3uqV
			waqedIvCXCdBOumBhsAFB9NAc3EKOshGscJEi7QSP2zJiJql2/87
			rjE5i4zJK0L9A1533JZaHBdFQWv1RuIshVYMNVxM1x1n/otN2tmP
			Dk/G/dBqG1TzfKbIW1/WNISUb22CXCq7YpKQ+o+b48gAvGnEAxA7
			w0zcQE2M9vWnxa76TBvo00lKL9to1u1hZcWU/pWmO941gigNJt4J
			+XpMzSTBvv1yM0ZTjiGasw07o+UocbsnFpyseHKnN89ebr5nfa4/
			vfXcya5VsmokFTY/1XqYZjIlUWHhfoHFgxffTfDosnFeu4My/kW/
			SLHO7zO9DlhrfCFQOEbstEV6vU3tTdCrRbI/12MR9/9ORB8yeOFZ
			AJGqnV+JYeIl6pqyX8+qt0qHEbQmbBqcnVFyvwO2g+/YllKDFcEc
			nKo5npW3TI/gKbqQujFJNWsyXFKgJeY5hZyyslJPmnl5g5+xNBXR
			VpFSeqk0T48FnYeqpumj0XnModmnMuXDITL58hpDtMKcUacYE48k
			Ls9AUZzjiK2Yt86/v0hm+E0Pu4bwXHz7RumryjrijsLVzVeoa2ZV
			6IkgbDKRZNWgajVlwhhDP6HSW5SVvf0zyYSS3SvFrIqbU9LpF0Vp
			1SiXZbcwibUdmj7CS5V/phJo59gRfgW2VE1BWKK1lHms9+549Tnb
			Favxs+2CZDcrlF2Yc16mtI+TVNWShgomshF27HBHySp7a5O5RuTI
			7VCzl29orZKGrQ8VEFpiccwyOlFEzjwObHivLaCGTS/EQxu6diaf
			1HXMo+CBEz09Wmf4CVSteIDVVz0csf5AbZm5ItJ7SLP3YHtIgT5M
			otJ6gm7QLyZML/JhcjjKLbI6Gk0XvVSGJrMW/MW9nkJ2VwzSf3mk
			kW0UKupGA+ThccnSehdLrIRPUvqAbUDUOeshe/sXcbXvpNH93UIK
			Rj78+Hut+Isf4w5qK1CtBseoJ5DJI+LWlbrAuLcK+EIogT+H1+OS
			yN1J71SeOPkR2mL69ODXAROl1U/Yaiy/aTVqT7SQJZ3Izd10Y1V/
			fHryooWOxdXU8dX+YHw0uZThkqtetqp9FCPTeW0/D1g4/Cv/7+d2
			2JYNyRPGC6HBuOUI/SKB5E4Iy+n3HrZuvI0XbDXrTDokFp1b8Csg
			+KXyDCQkYUSTdGPXQQBAH9m+zw36X16A/2U+6P8XAP2/MAMbOBSC
			RLs4Q5BOgP8CZV7uygplbmRzdHJlYW0KZW5kb2JqCjE2IDAgb2Jq
			CjcxNDgKZW5kb2JqCjEyIDAgb2JqCjc1NgplbmRvYmoKMTMgMCBv
			YmoKNjUzOAplbmRvYmoKMTQgMCBvYmoKNTMyCmVuZG9iagoxNyAw
			IG9iago8PCAvVHlwZSAvRm9udERlc2NyaXB0b3IgL0FzY2VudCA5
			NjkgL0NhcEhlaWdodCA4NjEgL0Rlc2NlbnQgLTI1MCAvRmxhZ3Mg
			MzIKL0ZvbnRCQm94IFstMjgyIC0yODEgMTA0MCAxMDAwXSAvRm9u
			dE5hbWUgL0ZORUhDWitDTVIxMCAvSXRhbGljQW5nbGUgMCAvU3Rl
			bVYKNjkgL01heFdpZHRoIDEzMjIgL1N0ZW1IIDMxIC9YSGVpZ2h0
			IDY0NiAvRm9udEZpbGUgMTUgMCBSID4+CmVuZG9iagoxOCAwIG9i
			agpbIDM4OSAzODkgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAw
			IDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwCjAg
			MCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAw
			IDAgMCA1MDAgXQplbmRvYmoKOCAwIG9iago8PCAvVHlwZSAvRm9u
			dCAvU3VidHlwZSAvVHlwZTEgL0Jhc2VGb250IC9GTkVIQ1orQ01S
			MTAgL0ZvbnREZXNjcmlwdG9yIDE3IDAgUgovV2lkdGhzIDE4IDAg
			UiAvRmlyc3RDaGFyIDQwIC9MYXN0Q2hhciA5NyAvRW5jb2Rpbmcg
			L01hY1JvbWFuRW5jb2RpbmcgPj4KZW5kb2JqCjEgMCBvYmoKPDwg
			L0NyZWF0b3IgKExhVGVYaVQpIC9Qcm9kdWNlciAoTWFjIE9TIFgg
			MTAuNS42IFF1YXJ0eiBQREZDb250ZXh0KSAvQ3JlYXRpb25EYXRl
			CihEOjIwMDkwMjExMDY0NTUwWjAwJzAwJykgL01vZERhdGUgKEQ6
			MjAwOTAyMTEwNjQ1NTBaMDAnMDAnKSA+PgplbmRvYmoKb2JqCjw8
			Ci9FbmNvZGluZyAvTWFjUm9tYW5FbmNvZGluZwovUHJlYW1ibGUg
			KEVTYW5ub3BFU3NsYXNoZG9jdW1lbnRjbGFzc1sxMHB0XUVTbGVm
			dGJyYWNrYXJ0aWNsZUVTcmlnaHRicmFjawpFU3NsYXNodXNlcGFj
			a2FnZUVTbGVmdGJyYWNrY29sb3JFU3JpZ2h0YnJhY2sgJXVzZWQg
			Zm9yIGZvbnQgY29sb3IKRVNzbGFzaHVzZXBhY2thZ2VFU2xlZnRi
			cmFja2Ftc3N5bWJFU3JpZ2h0YnJhY2sgJW1hdGhzCkVTc2xhc2h1
			c2VwYWNrYWdlRVNsZWZ0YnJhY2thbXNtYXRoRVNyaWdodGJyYWNr
			ICVtYXRocwpFU3NsYXNodXNlcGFja2FnZVt1dGY4XUVTbGVmdGJy
			YWNraW5wdXRlbmNFU3JpZ2h0YnJhY2sgJXVzZWZ1bCB0byB0eXBl
			IGRpcmVjdGx5IGRpYWNyaXRpYyBjaGFyYWN0ZXJzCkVTYW5ub3Bl
			bmQpCi9Fc2NhcGVkUHJlYW1ibGUgKEVTYW5ub2VwJTVDZG9jdW1l
			bnRjbGFzcyU1QjEwcHQlNUQlN0JhcnRpY2xlJTdEJTBBJTVDdXNl
			cGFja2FnZSU3QmNvbG9yJTdEJTIwJTI1dXNlZCUyMGZvciUyMGZv
			bnQlMjBjb2xvciUwQSU1Q3VzZXBhY2thZ2UlN0JhbXNzeW1iJTdE
			JTIwJTI1bWF0aHMlMEElNUN1c2VwYWNrYWdlJTdCYW1zbWF0aCU3
			RCUyMCUyNW1hdGhzJTBBJTVDdXNlcGFja2FnZSU1QnV0ZjglNUQl
			N0JpbnB1dGVuYyU3RCUyMCUyNXVzZWZ1bCUyMHRvJTIwdHlwZSUy
			MGRpcmVjdGx5JTIwZGlhY3JpdGljJTIwY2hhcmFjdGVycyUwQUVT
			YW5ub2VwZW5kKQovU3ViamVjdCAoRVNhbm5vdChhKUVTYW5ub3Rl
			bmQpCi9Fc2NhcGVkU3ViamVjdCAoRVNhbm5vZXMoYSlFU2Fubm9l
			c2VuZCkKL1R5cGUgKEVFdHlwZTJFRXR5cGVlbmQpCi9Db2xvciAo
			RUVjb2wwLjAwMDAwMCAwLjAwMDAwMCAwLjAwMDAwMCAxLjAwMDAw
			MEVFY29sZW5kKQovQktDb2xvciAoRUVia2MxLjAwMDAwMCAxLjAw
			MDAwMCAxLjAwMDAwMCAxLjAwMDAwMEVFYmtjZW5kKQovVGl0bGUg
			KEVFdGl0bGVFRXRpdGxlZW5kKQovTWFnbmlmaWNhdGlvbiAoRUVt
			YWcyNC4wMDAwMDBFRW1hZ2VuZCkKL0Jhc2VsaW5lIChFRWJhczEu
			MDAwMDAwRUViYXNlbmQpCj4+CmVuZG9iagp4cmVmCjAgMTkKMDAw
			MDAwMDAwMCA2NTUzNSBmIAowMDAwMDA5NDE2IDAwMDAwIG4gCjAw
			MDAwMDAyNDEgMDAwMDAgbiAKMDAwMDAwMTM5MCAwMDAwMCBuIAow
			MDAwMDAwMDIyIDAwMDAwIG4gCjAwMDAwMDAyMjIgMDAwMDAgbiAK
			MDAwMDAwMDM0MyAwMDAwMCBuIAowMDAwMDAxMzU1IDAwMDAwIG4g
			CjAwMDAwMDkyNTAgMDAwMDAgbiAKMDAwMDAwMDQ0MSAwMDAwMCBu
			IAowMDAwMDAxMzM1IDAwMDAwIG4gCjAwMDAwMDE0NzMgMDAwMDAg
			biAKMDAwMDAwODgxNiAwMDAwMCBuIAowMDAwMDA4ODM2IDAwMDAw
			IG4gCjAwMDAwMDg4NTcgMDAwMDAgbiAKMDAwMDAwMTUyMyAwMDAw
			MCBuIAowMDAwMDA4Nzk1IDAwMDAwIG4gCjAwMDAwMDg4NzcgMDAw
			MDAgbiAKMDAwMDAwOTEwOCAwMDAwMCBuIAp0cmFpbGVyCjw8IC9T
			aXplIDE5IC9Sb290IDExIDAgUiAvSW5mbyAxIDAgUiAvSUQgWyA8
			YzY5ZTlhYWVhZTMwYzQzZmFlODU1MGE0NjhkNTQxYzM+CjxjNjll
			OWFhZWFlMzBjNDNmYWU4NTUwYTQ2OGQ1NDFjMz4gXSA+PgpzdGFy
			dHhyZWYKMTA2MjMKJSVFT0bUDS0uLzAxMjNcTlNBdHRyaWJ1dGVz
			WE5TU3RyaW5nXxAPTlNBdHRyaWJ1dGVJbmZvgBuAB4AGgBlfEMhc
			ZG9jdW1lbnRjbGFzc1sxMHB0XXthcnRpY2xlfQpcdXNlcGFja2Fn
			ZXtjb2xvcn0gJXVzZWQgZm9yIGZvbnQgY29sb3IKXHVzZXBhY2th
			Z2V7YW1zc3ltYn0gJW1hdGhzClx1c2VwYWNrYWdle2Ftc21hdGh9
			ICVtYXRocwpcdXNlcGFja2FnZVt1dGY4XXtpbnB1dGVuY30gJXVz
			ZWZ1bCB0byB0eXBlIGRpcmVjdGx5IGRpYWNyaXRpYyBjaGFyYWN0
			ZXJzCtINDjY3gBiiODmACIAW0w07Djw9QVdOUy5rZXlzgBWjPj9A
			gAmACoALo0JDRIAMgBCAEl8QEE5TUGFyYWdyYXBoU3R5bGVXTlND
			b2xvclZOU0ZvbnTUSQ1KS0xNTk9aTlNUYWJTdG9wc18QFE5TRGVm
			YXVsdFRhYkludGVydmFsW05TQWxpZ25tZW50gA2ADyNAPAAAAAAA
			ABAE0g0OD1KADqDSVFVWV1gkY2xhc3Nlc1okY2xhc3NuYW1loldY
			V05TQXJyYXlYTlNPYmplY3TSVFVaRaJFWNMNXF1eX2BcTlNDb2xv
			clNwYWNlVU5TUkdCgBEQAUwwLjUgMC41IDAuNQDSVFViRqJGWNQN
			ZGVmZ2hpalZOU1NpemVWTlNOYW1lWE5TZkZsYWdzgBQjQCgAAAAA
			AACAExAQVk1vbmFjb9JUVW1HokdY0lRVb3CicFhcTlNEaWN0aW9u
			YXJ50w07Djxzd4AVoz4/QIAJgAqAC6NCKUSADIAXgBLTDVx8Xn5/
			V05TV2hpdGWAERADQjAA0lRVgYKjgldYXk5TTXV0YWJsZUFycmF5
			0g2EhYZXTlMuZGF0YYAaSR0AAQEnAIMBAdJUVYiJo4mKWF1OU011
			dGFibGVEYXRhVk5TRGF0YdJUVYyNoo1YXxASTlNBdHRyaWJ1dGVk
			U3RyaW5n0w0tLjA5kYAbgBaAHVMoYSnSDZSVlldOUy50aW1lgB8j
			Qa6FVz2zxy7SVFWYmaKZWFZOU0RhdGXSVFWbnKKcWFtIaXN0b3J5
			SXRlbQAIABEAGgAfACkAMgA3ADoAPwBBAFMAdwB9AIIAiQCUAJYA
			mACaALMAuwDFANAA2QDeAOYA7AD1AQcBDAESARQBFgEfASEBIwEl
			AScBKQEyATQBNgE4AT8s2yzkLPEs+i0MLQ4tEC0SLRQt3y3kLeYt
			6S3rLe0t9C38Lf4uAi4ELgYuCC4MLg4uEC4SLiUuLS40Lj0uSC5f
			LmsubS5vLnguei5/LoEugi6HLpAumy6eLqYury60Lrcuvi7LLtEu
			0y7VLuIu5y7qLvMu+i8BLwovDC8VLxcvGS8gLyUvKC8tLzAvPS9E
			L0YvSi9ML04vUC9UL1YvWC9aL2EvaS9rL20vcC91L3kviC+NL5Uv
			ly+hL6Yvqi+4L78vxC/HL9wv4y/lL+cv6S/tL/Iv+i/8MAUwCjAN
			MBQwGTAcAAAAAAAAAgEAAAAAAAAAnQAAAAAAAAAAAAAAAAAAMCg=
			</data>
			<key>bundleId</key>
			<string>fr.club.ktd.LaTeXiT</string>
			<key>refresh</key>
			<real>0.0</real>
			<key>serverActionKey</key>
			<string>_Refresh</string>
			<key>serverAppName</key>
			<string>LaTeXiT</string>
			<key>serverName</key>
			<string>LaTeXiT</string>
			<key>version</key>
			<string>A</string>
		</dict>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image6.pdf</string>
		<string>image5.pdf</string>
		<string>image4.pdf</string>
		<string>image3.pdf</string>
		<string>image2.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2009-02-11 17:46:09 +1100</string>
	<key>Modifier</key>
	<string>Graham Dennis</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595, 842}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{665, 49}, {693, 937}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<false/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-60, 0}, {679, 783}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
